{
  "swagger": "2.0",
  "host": "CHANGEME.api.processmaker.io",
  "basePath": "/api/v1",
  "info": {
    "title": "example",
    "version": "v1"
  },
  "tags": [
    {
      "name": "users",
      "description": "Operations about users."
    },
    {
      "name": "groups",
      "description": "Operations about user groups."
    },
    {
      "name": "oauth",
      "description": "Operations with Oauth clients and tokens."
    },
    {
      "name": "input/output",
      "description": "Operations with Input/Output objects."
    },
    {
      "name": "process",
      "description": "A process is a collection of modeled and related activities, tasks and elements that produce a specific service or product and can be used by customers or automated systems."
    },
    {
      "name": "process instance",
      "description": "A process instance is an execution of a business process. Process instances can be started using start events. Each process instance can be independently monitored and managed."
    },
    {
      "name": "task",
      "description": "In ProcessMaker, a task is a logical group of sequential steps sharing a common goal. ProcessMaker I/O V1.0 supports the following types of Tasks: User Task, Script and Service Task."
    },
    {
      "name": "flow",
      "description": "The connectors that connect the Events, Activities and Gateways with each other to form business workflows and define the behavior of a process are called connecting objects. ProcessMaker I/O V1.0 supports the following types of connecting objects: Sequence Flows and Message flows."
    },
    {
      "name": "gateway",
      "description": "Gateways are elements used to control how the flow moves in a process. Gateways are mechanisms that control and regulate process flows based on routing rules. If the flow does not need to be controlled, then a gateway is not needed.  As tokens arrive at a Gateway they can be merged together on input and/or split apart on output as the gateway mechanisms are invoked. ProcessMaker I/O V1.0 supports the following types of gateways: Exclusive, Inclusive and Parallel."
    },
    {
      "name": "event",
      "description": "Events are used to model something that happens during the lifetime of a process. The Events affect the flow of the process and cover activity start, end, change states, etc. The term “event” is general enough to cover many things in a process. In BPMN v2.0.2, there are three main types of events: Start Events, which indicate where a process will start, End Events, which indicate where a path of a process will end and Intermediate Events, which indicate where something happens somewhere between the start and end of a process. There are catching and throwing events. ProcessMaker I/O V1.0 supports the following types of events: Start, End, Message Start, Message Intermediate Throw event, Message Intermediate Catch, Timer Boundary Interrupting and Non-Interrupting Events."
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/groups": {
      "get": {
        "tags": [
          "client",
          "groups"
        ],
        "description": "This method retrieves all existing groups.",
        "operationId": "findGroups",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Amount of items per page",
            "required": false,
            "type": "integer",
            "default": 15,
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "List of groups retrieved",
            "schema": {
              "$ref": "#/definitions/GroupCollection"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "post": {
        "tags": [
          "client",
          "groups"
        ],
        "description": "This method creates a new group.",
        "operationId": "addGroup",
        "parameters": [
          {
            "in": "body",
            "name": "GroupCreateItem",
            "description": "JSON API with the Group object to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupCreateItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group created",
            "schema": {
              "$ref": "#/definitions/GroupItem"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Java",
            "source": "GroupCreateItem groupCreateItem = new GroupCreateItem();\r\n        Group group = new Group();\r\n        GroupAttributes groupAttributes = new GroupAttributes();\r\n        groupAttributes.setDescription(\"mySuperGroup\");\r\n        groupAttributes.setTitle(\"SuperGroup\");\r\n        groupAttributes.setStatus(GroupAttributes.StatusEnum.ACTIVE);\r\n        groupAttributes.setCode(\"A3\");\r\n        group.setAttributes(groupAttributes);\r\n        groupCreateItem.setData(group);\r\n\r\n        GroupItem response = api.addGroup(groupCreateItem);"
          },
          {
            "lang": "Perl",
            "source": "my $group_create_item = ProcessMaker::PMIO::Object::GroupCreateItem->new(\"data\" => { \"type\" => \"group\", \"attributes\" => {\"code\" => \"CODE_\" . int(rand(100000)), \"title\" => \"[TITLE]\", \"status\" => \"ACTIVE\" } } );\r\nmy $res = $test_api->add_group(\"group_create_item\" => $group_create_item);"
          }
        ]
      }
    },
    "/groups/{id}": {
      "get": {
        "tags": [
          "client",
          "groups"
        ],
        "description": "This method retrieves a group using its ID.",
        "operationId": "findGroupById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of group to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Group retrieved",
            "schema": {
              "$ref": "#/definitions/GroupItem"
            }
          },
          "404": {
            "description": "Group not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "put": {
        "tags": [
          "client",
          "groups"
        ],
        "description": "This method updates an existing group.",
        "operationId": "updateGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of group to retrieve",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "GroupUpdateItem",
            "description": "Group object to edit",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupUpdateItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group updated",
            "schema": {
              "$ref": "#/definitions/GroupItem"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "client",
          "groups"
        ],
        "description": "This method deletes a group using the group ID.",
        "operationId": "deleteGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of group to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Group successfully deleted",
            "schema": {
              "$ref": "#/definitions/ResultSuccess"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Deletion error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/groups/{id}/users": {
      "post": {
        "tags": [
          "client",
          "groups"
        ],
        "description": "This method synchronizes one or more users with a group.",
        "operationId": "syncUsersToGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of group to be modified",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "GroupSyncUsersItem",
            "description": "JSON API with array of users IDs to sync",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupSyncUsersItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User(s) synced to group",
            "schema": {
              "$ref": "#/definitions/ResultSuccess"
            }
          },
          "500": {
            "description": "Error adding group(s)",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "put": {
        "tags": [
          "client",
          "groups"
        ],
        "description": "This method adds one or more new users to a group.",
        "operationId": "addUsersToGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of group to be modified",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "GroupAddUsersItem",
            "description": "JSON API response with array of user IDs",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupAddUsersItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON API result details",
            "schema": {
              "$ref": "#/definitions/ResultSuccess"
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Error adding group(s)",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "PHP",
            "source": "$groupAddUserItem = new GroupAddUsersItem([\r\n     'data' => new UserIds([\r\n         'users' => [$apiInstance->myselfUser()->getData()->getId()]\r\n      ])\r\n  ]);\r\n$apiInstance->addUsersToGroup($group->getData()->getId(), groupAddUserItem);"
          },
          {
            "lang": "Java",
            "source": "GroupCreateItem groupCreateItem = new GroupCreateItem();\r\n        Group group = new Group();\r\n        GroupAttributes groupAttributes = new GroupAttributes();\r\n        groupAttributes.setDescription(\"mySuperGroup\");\r\n        groupAttributes.setTitle(\"SuperGroup\");\r\n        groupAttributes.setStatus(GroupAttributes.StatusEnum.ACTIVE);\r\n        groupAttributes.setCode(\"A3\");\r\n        group.setAttributes(groupAttributes);\r\n        groupCreateItem.setData(group);\r\n\r\n        GroupItem groupItem = api.addGroup(groupCreateItem);\r\n        createdGroups.add(groupItem.getData().getId());\r\n\r\n        GroupAddUsersItem groupAddUsersItem = new GroupAddUsersItem();\r\n        UserIds userIds = new UserIds();\r\n        userIds.addUsersItem(user.getData().getId());\r\n        groupAddUsersItem.setData(userIds);\r\n        ResultSuccess response = api.addUsersToGroup(groupItem.getData().getId(), groupAddUsersItem);"
          },
          {
            "lang": "Python",
            "source": "import test_group\ngroupid = test_group.TestGroup.testGroup()\nassert groupid is not None\nimport test_user\nuserid = test_user.TestUser.testUser()\nassert userid is not None\nr = self.api.add_users_to_group(userid, GroupAddUsersItem(data=UserIds(users=[userid])))"
          },
          {
            "lang": "Perl",
            "source": "my $user_create_item = ProcessMaker::PMIO::Object::UserCreateItem->new(\"data\" => { \"id\" => $user_id, \"type\" => \"user\", \"attributes\" => {\"email\" => \"test_email\\@testdomain.com\", \"password\" => \"[PASSWORD]\", \"username\" => \"USER\" . int(rand(100000)) , \"firstname\" => \"[FIRST NAME]\", \"lastname\" => \"[LAST NAME]\"} } );\r\nmy $res = $test_api->add_user(\"user_create_item\" => $user_create_item);\r\nmy $res_hash = $res->to_hash();\r\nmy $new_user_id = $res_hash->{\"data\"}->{\"id\"};\r\nmy $group_create_item = ProcessMaker::PMIO::Object::GroupCreateItem->new(\"data\" => { \"type\" => \"group\", \"attributes\" => {\"code\" => \"CODE_\" . int(rand(100000)), \"title\" => \"[TITLE]\", \"status\" => \"ACTIVE\" } } );\r\nmy $group_create_item = ProcessMaker::PMIO::Object::GroupCreateItem->new(\"data\" => { \"type\" => \"group\", \"attributes\" => {\"code\" => \"CODE_\" . int(rand(100000)), \"title\" => \"[TITLE]\", \"status\" => \"ACTIVE\" } } );\r\n$res = $test_api->add_group(\"group_create_item\" => $group_create_item);\r\n$res_hash = $res->to_hash();\r\nmy $new_group_id = $res_hash->{\"data\"}->{\"id\"};\r\nmy $group_add_users_item = ProcessMaker::PMIO::Object::GroupAddUsersItem->new( \"data\" => {\"users\" => [ $new_user_id ] } );\r\n$res = $test_api->add_users_to_group(\"id\" => $new_group_id, \"group_add_users_item\" => $group_add_users_item);"
          }
        ]
      },
      "delete": {
        "tags": [
          "client",
          "groups"
        ],
        "description": "This method removes one or more users from a group.",
        "operationId": "removeUsersFromGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of group to be modified",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "GroupRemoveUsersItem",
            "description": "JSON API response with Users IDs to remove",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupRemoveUsersItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User(s) removed from group",
            "schema": {
              "$ref": "#/definitions/ResultSuccess"
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Error adding group(s)",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/instances/{instance_id}/tasks/{task_id}/task_instances": {
      "get": {
        "tags": [
          "client",
          "process instance"
        ],
        "description": "This method retrieves task instances using the instance ID and the task ID.",
        "operationId": "findTaskInstancesByInstanceAndTaskId",
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "description": "ID of the instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "task_id",
            "in": "path",
            "description": "ID of the task",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of task instances retrieved",
            "schema": {
              "$ref": "#/definitions/TaskInstanceCollection"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/instances/{instance_id}/tasks/{task_id}/task_instances/delegated": {
      "get": {
        "tags": [
          "client",
          "process instance"
        ],
        "description": "This method retrieves delegated task instances using the instance ID and the task ID.",
        "operationId": "findTaskInstancesByInstanceAndTaskIdDelegated",
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "description": "ID of the instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "task_id",
            "in": "path",
            "description": "ID of the task",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of task instances retrieved",
            "schema": {
              "$ref": "#/definitions/TaskInstanceCollection"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/instances/{instance_id}/tasks/{task_id}/task_instances/started": {
      "get": {
        "tags": [
          "client",
          "process instance"
        ],
        "description": "This method retrieves started task instances using the instance ID and the task ID.",
        "operationId": "findTaskInstancesByInstanceAndTaskIdStarted",
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "description": "ID of the instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "task_id",
            "in": "path",
            "description": "ID of the task",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of task instances retrieved",
            "schema": {
              "$ref": "#/definitions/TaskInstanceCollection"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes": {
      "get": {
        "tags": [
          "client",
          "process"
        ],
        "description": "This method retrieves all existing processes.",
        "operationId": "findProcesses",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Amount of items per page",
            "required": false,
            "type": "integer",
            "default": 15,
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "List of processes retrieved",
            "schema": {
              "$ref": "#/definitions/ProcessCollection"
            }
          },
          "401": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "403": {
            "description": "Forbidden access",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Java",
            "source": "private ProcessItem addProcessItem(String name) throws ApiException {\r\n        ProcessCreateItem processCreateItem = new ProcessCreateItem();\r\n        Process process = new Process();\r\n        ProcessAttributes processAttributes = new ProcessAttributes();\r\n        processAttributes.setStatus(ProcessAttributes.StatusEnum.ACTIVE);\r\n        processAttributes.setName(name);\r\n        processAttributes.setDurationBy(ProcessAttributes.DurationByEnum.WORKING_DAYS);\r\n        processAttributes.setType(ProcessAttributes.TypeEnum.NORMAL);\r\n        processAttributes.setDesignAccess(ProcessAttributes.DesignAccessEnum.PUBLIC);\r\n        process.setAttributes(processAttributes);\r\n        processCreateItem.setData(process);\r\n        return api.addProcess(processCreateItem);\r\n    }\n addProcessItem(\"ProcessName1\");\r\n        addProcessItem(\"ProcessName2\");\r\n        addProcessItem(\"ProcessName3\");\r\n        addProcessItem(\"ProcessName4\");\r\n        ProcessCollection response = api.findProcesses(1, 3);"
          },
          {
            "lang": "Perl",
            "source": "my $process_collection = $test_api->find_processes(\"page\" => 1, \"perPage\" => 10);\r\nprint Dumper($process_collection);"
          }
        ]
      },
      "post": {
        "tags": [
          "client",
          "process"
        ],
        "description": "This method creates a new process.",
        "operationId": "addProcess",
        "parameters": [
          {
            "in": "body",
            "name": "ProcessCreateItem",
            "description": "JSON API response with the process object to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProcessCreateItem"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "New process created",
            "schema": {
              "$ref": "#/definitions/ProcessItem"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "PHP",
            "source": "/** @var ProcessAttributes $processAttr */\r\n$processAttr = new ProcessAttributes();\r\n$processAttr->setStatus('ACTIVE');\r\n$processAttr->setName('Example process '.$random);\r\n$processAttr->setDurationBy('WORKING_DAYS');\r\n$processAttr->setType('NORMAL');\r\n$processAttr->setDesignAccess('PUBLIC');\r\n/** @var ProcessItem $result */\r\n$process = $apiInstance->addProcess(new ProcessCreateItem(\r\n        [\r\n            'data' => new Process(['attributes' => $processAttr])\r\n        ]\r\n    )\r\n);"
          },
          {
            "lang": "Java",
            "source": "private ProcessItem addProcessItem(String name) throws ApiException {\r\n        ProcessCreateItem processCreateItem = new ProcessCreateItem();\r\n        Process process = new Process();\r\n        ProcessAttributes processAttributes = new ProcessAttributes();\r\n        processAttributes.setStatus(ProcessAttributes.StatusEnum.ACTIVE);\r\n        processAttributes.setName(name);\r\n        processAttributes.setDurationBy(ProcessAttributes.DurationByEnum.WORKING_DAYS);\r\n        processAttributes.setType(ProcessAttributes.TypeEnum.NORMAL);\r\n        processAttributes.setDesignAccess(ProcessAttributes.DesignAccessEnum.PUBLIC);\r\n        process.setAttributes(processAttributes);\r\n        processCreateItem.setData(process);\r\n        return api.addProcess(processCreateItem);\r\n    }\n ProcessItem response = addProcessItem(\"ProcessName\");"
          },
          {
            "lang": "Perl",
            "source": "my $process_create_item =  ProcessMaker::PMIO::Object::ProcessCreateItem->new( \"data\" => {\"type\" => \"process\", \"attributes\" => { \"name\" => \"[NAME]\", \"type\" => \"NORMAL\", \"status\" => \"ACTIVE\", \"duration_by\" => \"WORKING_DAYS\", \"design_access\" => \"PUBLIC\" } } );\r\nmy $res = $test_api->add_process(\"process_create_item\" => $process_create_item);"
          }
        ]
      }
    },
    "/processes/import": {
      "post": {
        "tags": [
          "client",
          "process"
        ],
        "description": "This method imports BPMN 2.0 files. A new process(es) is/are created and its object returned back when import is successful.",
        "operationId": "importBpmnFile",
        "parameters": [
          {
            "in": "body",
            "name": "bpmnImportItem",
            "description": "JSON API with the BPMN file to import",
            "required": true,
            "schema": {
              "$ref": "#/definitions/bpmnImportItem"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "File imported and process instance created successfully",
            "schema": {
              "$ref": "#/definitions/ProcessCollection_1"
            }
          },
          "403": {
            "description": "Access forbidden",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "PHP",
            "source": "$result = $apiInstance->importBpmnFile(new BpmnImportItem(\r\n    [\r\n        'data' => new BpmnFile(\r\n            [\r\n                'attributes' => (new BpmnFileAttributes())\r\n                ->setBpmn(file_get_contents('slack.bpmn'))\r\n            ])\r\n    ]\r\n));\r\n\r\n/** @var ProcessMaker\\PMIO\\Model\\Process[] $processes */\r\n$processes = $result->getData();"
          },
          {
            "lang": "Java",
            "source": "BpmnImportItem bpmnImportItem = new BpmnImportItem();\nBpmnFile bpmnFile = new BpmnFile();\nBpmnFileAttributes attributes = new BpmnFileAttributes();\nString filePath = \"src/test/resources/message_startevent.bpmn\";\nbyte[] fileData = IOUtils.readFully(new FileInputStream(filePath), -1, false);\nattributes.setBpmn(new String(fileData));\nbpmnFile.setAttributes(attributes);\nbpmnImportItem.setData(bpmnFile);\nProcessCollection1 response = api.importBpmnFile(bpmnImportItem);"
          },
          {
            "lang": "Python",
            "source": "bpmn = open('test/Api/message_startevent.bpmn','rb').read()\natt = BpmnFileAttributes()\natt.bpmn = bpmn\nr = self.api.import_bpmn_file(BpmnImportItem(data=BpmnFile(attributes=att)))"
          },
          {
            "lang": "Perl",
            "source": "open (my $f, \"<t/message_startevent.bpmn\");\r\nmy $bpmn = \"\";\r\nwhile (<$f>) {\r\n\t$bpmn .= $_;\r\n}\r\nmy $bpmn_import_item = ProcessMaker::PMIO::Object::BpmnImportItem->new(\"data\" => {\"type\" => \"process\", \"attributes\" => {\"bpmn\" => $bpmn } } );\r\nmy $res = $test_api->import_bpmn_file(\"bpmn_import_item\" => $bpmn_import_item);"
          }
        ]
      }
    },
    "/processes/{id}": {
      "get": {
        "tags": [
          "client",
          "process"
        ],
        "description": "This method retrieves a process using its ID.",
        "operationId": "findProcessById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the process to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Process retrieved",
            "schema": {
              "$ref": "#/definitions/ProcessItem"
            }
          },
          "404": {
            "description": "Process not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "put": {
        "tags": [
          "client",
          "process"
        ],
        "description": "This method updates an existing process.",
        "operationId": "updateProcess",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the process to retrieve",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "ProcessUpdateItem",
            "description": "Process object to edit",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProcessUpdateItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Process updated",
            "schema": {
              "$ref": "#/definitions/ProcessItem"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "client",
          "process"
        ],
        "description": "This method deletes a process using the process ID.",
        "operationId": "deleteProcess",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Process ID to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Item successfully deleted",
            "schema": {
              "$ref": "#/definitions/ResultSuccess"
            }
          },
          "401": {
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Deletion error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Java",
            "source": "private ProcessItem addProcessItem(String name) throws ApiException {\r\n        ProcessCreateItem processCreateItem = new ProcessCreateItem();\r\n        Process process = new Process();\r\n        ProcessAttributes processAttributes = new ProcessAttributes();\r\n        processAttributes.setStatus(ProcessAttributes.StatusEnum.ACTIVE);\r\n        processAttributes.setName(name);\r\n        processAttributes.setDurationBy(ProcessAttributes.DurationByEnum.WORKING_DAYS);\r\n        processAttributes.setType(ProcessAttributes.TypeEnum.NORMAL);\r\n        processAttributes.setDesignAccess(ProcessAttributes.DesignAccessEnum.PUBLIC);\r\n        process.setAttributes(processAttributes);\r\n        processCreateItem.setData(process);\r\n        return api.addProcess(processCreateItem);\r\n    }\n ProcessItem process = addProcessItem(\"Process\");\r\n        ResultSuccess response = api.deleteProcess(process.getData().getId());"
          },
          {
            "lang": "Perl",
            "source": "my $process_create_item =  ProcessMaker::PMIO::Object::ProcessCreateItem->new( \"data\" => {\"type\" => \"process\", \"attributes\" => { \"name\" => \"[NAME]\", \"type\" => \"NORMAL\", \"status\" => \"ACTIVE\", \"duration_by\" => \"WORKING_DAYS\", \"design_access\" => \"PUBLIC\" } } );\r\nmy $res = $test_api->add_process(\"process_create_item\" => $process_create_item);\r\nmy $res_hash = $res->to_hash();\r\nmy $pid = $res_hash->{\"data\"}->{\"id\"};\r\n$res = $test_api->delete_process(\"id\" => $pid);"
          }
        ]
      }
    },
    "/processes/{process_id}/datamodels/search/{search_param}": {
      "get": {
        "tags": [
          "client",
          "process instance"
        ],
        "description": "This method returns the data model by field passed in get argument.",
        "operationId": "findByFieldInsideDataModel",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to return",
            "required": true,
            "type": "string"
          },
          {
            "name": "search_param",
            "in": "path",
            "description": "Key and value of searched field in DataModel",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Amount of items per page",
            "required": false,
            "type": "integer",
            "default": 15,
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "DataModel retrieved",
            "schema": {
              "$ref": "#/definitions/DataModelCollection"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "type": "integer",
                "description": "The number of allowed requests in the current period"
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "description": "The number of remaining requests in the current period"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/events": {
      "get": {
        "tags": [
          "client",
          "event"
        ],
        "description": "This method returns all events related to the running process.",
        "operationId": "findEvents",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process related to the event",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Amount of items per page",
            "required": false,
            "type": "integer",
            "default": 15,
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "List of events retrieved",
            "schema": {
              "$ref": "#/definitions/EventCollection"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "post": {
        "tags": [
          "client",
          "event"
        ],
        "description": "This method creates the new event.",
        "operationId": "addEvent",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process related to the event",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "EventCreateItem",
            "description": "JSON API response with the event object to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventCreateItem"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Event response",
            "schema": {
              "$ref": "#/definitions/EventItem"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/events/{event_id}": {
      "get": {
        "tags": [
          "client",
          "event"
        ],
        "description": "This method retrieves an event using its ID.",
        "operationId": "findEventById",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to return",
            "required": true,
            "type": "string"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "ID of the event to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Event retrieved",
            "schema": {
              "$ref": "#/definitions/EventItem"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "put": {
        "tags": [
          "client",
          "event"
        ],
        "description": "This method updates an existing event.",
        "operationId": "updateEvent",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to retrieve",
            "required": true,
            "type": "string"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "ID of the event to retrieve",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "EventUpdateItem",
            "description": "Event object to edit",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventUpdateItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event updated",
            "schema": {
              "$ref": "#/definitions/EventItem"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "client",
          "event"
        ],
        "description": "This method deletes an event using the event ID and process ID.",
        "operationId": "deleteEvent",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "Process ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "ID of the event to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Item successfully deleted",
            "schema": {
              "$ref": "#/definitions/ResultSuccess"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Deletion error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/events/{event_id}/connectors": {
      "get": {
        "tags": [
          "client",
          "event"
        ],
        "description": "This method returns all event connectors related to the run process and Event.",
        "operationId": "findEventConnectors",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "ID of the task to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Amount of items per page",
            "required": false,
            "type": "integer",
            "default": 15,
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Event connectors list",
            "schema": {
              "$ref": "#/definitions/EventConnectorsCollection"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "post": {
        "tags": [
          "client",
          "event"
        ],
        "description": "This method is intended for creating a new event connector.",
        "operationId": "addEventConnector",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "ID of the event to fetch",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "EventConnectorCreateItem",
            "description": "JSON API with the EventConnector object to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventConnectorCreateItem"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created event connector response",
            "schema": {
              "$ref": "#/definitions/EventConnector_1"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/events/{event_id}/connectors/{connector_id}": {
      "get": {
        "tags": [
          "client",
          "event"
        ],
        "description": "This method returns all event connectors related to the run process and event.",
        "operationId": "findEventConnectorById",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "ID of Event to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "connector_id",
            "in": "path",
            "description": "ID of EventConnector to fetch",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Event Connector Item response",
            "schema": {
              "$ref": "#/definitions/EventConnector_1"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "put": {
        "tags": [
          "client",
          "event"
        ],
        "description": "This method updates the existing event connector with new parameter values.",
        "operationId": "updateEventConnector",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "ID of the event to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "connector_id",
            "in": "path",
            "description": "ID of the event Connector to fetch",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "EventConnectorUpdateItem",
            "description": "EventConnector object to edit",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventConnectorUpdateItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON API response with updated EventConnector object",
            "schema": {
              "$ref": "#/definitions/EventConnector_1"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "client",
          "event"
        ],
        "description": "This method is for deleting a single event connector based on event ID, process ID and Connector ID.",
        "operationId": "deleteEventConnector",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process item",
            "required": true,
            "type": "string"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "ID of item to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "connector_id",
            "in": "path",
            "description": "ID of EventConnector to fetch",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Item successfully deleted",
            "schema": {
              "$ref": "#/definitions/ResultSuccess"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Deletion error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/events/{event_id}/trigger": {
      "post": {
        "tags": [
          "client",
          "event"
        ],
        "description": "This method starts/triggers an event.",
        "operationId": "eventTrigger",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "Process ID related to the event",
            "required": true,
            "type": "string"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "ID of the event to trigger",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "TriggerEventCreateItem",
            "description": "Json with some parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TriggerEventCreateItem"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Event triggered",
            "schema": {
              "$ref": "#/definitions/DataModelItem_1"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "PHP",
            "source": "/** @var array $arrayContent */\r\n $arrayContent = ['key' => 6, 'add' => 15, 'confirm' => false];\r\n /** @var DataModelAttributes $dataModelAttr */\r\n $dataModelAttr = new DataModelAttributes();\r\n $dataModelAttr->setContent(json_encode($arrayContent));\r\n /** @var DataModelItem $result */\r\n $result = $apiInstance->eventTrigger(\r\n     $process->getData()->getId(),\r\n     $startEvent->getData()->getId(),\r\n     new TriggerEventCreateItem(\r\n         [\r\n            'data' => new DataModel(['attributes' => $dataModelAttr])\r\n         ]\r\n     )\r\n );"
          }
        ]
      }
    },
    "/processes/{process_id}/events/{event_id}/webhook": {
      "post": {
        "tags": [
          "client",
          "event"
        ],
        "description": "This webhook method triggers a given event object.",
        "operationId": "eventWebhook",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "Process ID related to the event",
            "required": true,
            "type": "string"
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "ID of the event to trigger",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "TriggerBody",
            "description": "Freeform JSON structure, it will be passed to the newly created DataModel",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Event triggered, please note - result will be always empty string",
            "schema": {
              "type": "string",
              "title": "WebhookResponse"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/flows": {
      "get": {
        "tags": [
          "client",
          "flow"
        ],
        "description": "This method retrieves all existing flows.",
        "operationId": "findFlows",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process related to the flow",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Amount of items per page",
            "required": false,
            "type": "integer",
            "default": 15,
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "List of flows retrieved",
            "schema": {
              "$ref": "#/definitions/FlowCollection"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "post": {
        "tags": [
          "client",
          "flow"
        ],
        "description": "This method creates a new Sequence Flow.",
        "operationId": "addFlow",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process related to the flow",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "FlowCreateItem",
            "description": "JSON API response with the Flow object to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FlowCreateItem"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The Sequence Flow was created",
            "schema": {
              "$ref": "#/definitions/FlowItem"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/flows/{flow_id}": {
      "get": {
        "tags": [
          "client",
          "flow"
        ],
        "description": "This method retrieves a flow based on its ID.",
        "operationId": "findFlowById",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to return",
            "required": true,
            "type": "string"
          },
          {
            "name": "flow_id",
            "in": "path",
            "description": "ID of the flow to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Flow retrieved",
            "schema": {
              "$ref": "#/definitions/FlowItem"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "put": {
        "tags": [
          "client",
          "flow"
        ],
        "description": "This method updates an existing flow.",
        "operationId": "updateFlow",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to retrieve",
            "required": true,
            "type": "string"
          },
          {
            "name": "flow_id",
            "in": "path",
            "description": "ID of the flow to retrieve",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "FlowUpdateItem",
            "description": "Flow object to edit",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FlowUpdateItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flow updated",
            "schema": {
              "$ref": "#/definitions/FlowItem"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "client",
          "flow"
        ],
        "description": "This method deletes the Sequence Flow using the flow ID and the process ID.",
        "operationId": "deleteFlow",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "Process ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "flow_id",
            "in": "path",
            "description": "ID of the flow to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Item successfully deleted",
            "schema": {
              "$ref": "#/definitions/ResultSuccess"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Deletion error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/gateways": {
      "get": {
        "tags": [
          "client",
          "gateway"
        ],
        "description": "This method retrieves all existing gateways.",
        "operationId": "findGateways",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process related to the gateway",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Amount of items per page",
            "required": false,
            "type": "integer",
            "default": 15,
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Gateways list",
            "schema": {
              "$ref": "#/definitions/GatewayCollection"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "post": {
        "tags": [
          "client",
          "gateway"
        ],
        "description": "This method creates a new gateway.",
        "operationId": "addGateway",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process related to the gateway",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "GatewayCreateItem",
            "description": "JSON API response with the gateway object to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GatewayCreateItem"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Gateway created",
            "schema": {
              "$ref": "#/definitions/GatewayItem"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/gateways/{gateway_id}": {
      "get": {
        "tags": [
          "client",
          "gateway"
        ],
        "description": "This method retrieves a gateway based on its ID.",
        "operationId": "findGatewayById",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to return",
            "required": true,
            "type": "string"
          },
          {
            "name": "gateway_id",
            "in": "path",
            "description": "ID of gateway to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Gateway retrieved",
            "schema": {
              "$ref": "#/definitions/GatewayItem"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "put": {
        "tags": [
          "client",
          "gateway"
        ],
        "description": "This method updates an existing gateway.",
        "operationId": "updateGateway",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to retrieve",
            "required": true,
            "type": "string"
          },
          {
            "name": "gateway_id",
            "in": "path",
            "description": "ID of the gateway to retrieve",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "GatewayUpdateItem",
            "description": "Gateway object to edit",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GatewayUpdateItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gateway updated",
            "schema": {
              "$ref": "#/definitions/GatewayItem"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "client",
          "gateway"
        ],
        "description": "This method deletes a single item using the gateway ID and the process ID.",
        "operationId": "deleteGateway",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "Process ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "gateway_id",
            "in": "path",
            "description": "ID of the process to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Item successfully deleted",
            "schema": {
              "$ref": "#/definitions/ResultSuccess"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Deletion error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/instances": {
      "get": {
        "tags": [
          "client",
          "process instance"
        ],
        "description": "This method retrieves instances related to the process using the process ID",
        "operationId": "findInstances",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "Process ID related to the instances",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Amount of items per page",
            "required": false,
            "type": "integer",
            "default": 15,
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "List of instances retrieved",
            "schema": {
              "$ref": "#/definitions/InstanceCollection"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "post": {
        "tags": [
          "client",
          "process instance"
        ],
        "description": "This method creates a new instance.",
        "operationId": "addInstance",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "Process ID related to the instance",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "InstanceCreateItem",
            "description": "JSON API response with the instance object to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceCreateItem"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Instance created",
            "schema": {
              "$ref": "#/definitions/InstanceItem"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/instances/{instance_id}": {
      "get": {
        "tags": [
          "client",
          "process instance"
        ],
        "description": "This method retrieves an instance using its ID.",
        "operationId": "findInstanceById",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to return",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance_id",
            "in": "path",
            "description": "ID of the instance to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Instance retrieved",
            "schema": {
              "$ref": "#/definitions/InstanceItem"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "put": {
        "tags": [
          "client",
          "process instance"
        ],
        "description": "This method updates  an existing instance.",
        "operationId": "updateInstance",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to retrieve",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance_id",
            "in": "path",
            "description": "ID of the instance to retrieve",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "InstanceUpdateItem",
            "description": "Instance object to edit",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceUpdateItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance updated",
            "schema": {
              "$ref": "#/definitions/InstanceItem"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "client",
          "process instance"
        ],
        "description": "This method deletes an instance using the instance ID and the process ID.",
        "operationId": "deleteInstance",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "Process ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance_id",
            "in": "path",
            "description": "ID of the instance to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Instance successfully deleted",
            "schema": {
              "$ref": "#/definitions/ResultSuccess"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Deletion error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/instances/{instance_id}/datamodel": {
      "get": {
        "tags": [
          "client",
          "process instance"
        ],
        "description": "This method returns the instance data model and lets the user work with it directly.",
        "operationId": "findDataModel",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to return",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance_id",
            "in": "path",
            "description": "ID of the instance to return",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Amount of items per page",
            "required": false,
            "type": "integer",
            "default": 15,
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Data model retrieved",
            "schema": {
              "$ref": "#/definitions/DataModelItem_1"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/instances/{instance_id}/tokens": {
      "get": {
        "tags": [
          "client",
          "process instance"
        ],
        "description": "This method retrieves tokens related to the process and instance using the process and instance IDs",
        "operationId": "findTokens",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "Process ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance_id",
            "in": "path",
            "description": "Instance ID related to the process",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Amount of items per page",
            "required": false,
            "type": "integer",
            "default": 15,
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "List of tokens retrieved",
            "schema": {
              "$ref": "#/definitions/TokenCollection"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/tasks": {
      "get": {
        "tags": [
          "client",
          "task"
        ],
        "description": "This method is intended for returning a list of all tasks related to the process.",
        "operationId": "findTasks",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process relative to the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Amount of items per page",
            "required": false,
            "type": "integer",
            "default": 15,
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Tasks list",
            "schema": {
              "$ref": "#/definitions/TaskCollection"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "post": {
        "tags": [
          "client",
          "task"
        ],
        "description": "This method creates a new task.",
        "operationId": "addTask",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "Process ID related to the task",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "TaskCreateItem",
            "description": "JSON API with the task object to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskCreateItem"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Task created",
            "schema": {
              "$ref": "#/definitions/TaskItem"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Java",
            "source": "String processId = addProcessItem(\"ProcessForTask\").getData().getId();\r\n        TaskCreateItem taskCreateItem = new TaskCreateItem();\r\n        Task task = new Task();\r\n        TaskAttributes attributes = new TaskAttributes();\r\n        attributes.setName(\"Name\");\r\n        attributes.setType(TaskAttributes.TypeEnum.USER_TASK);\r\n        attributes.setProcessId(processId);\r\n        attributes.setAssignType(TaskAttributes.AssignTypeEnum.CYCLIC);\r\n        attributes.setTransferFly(true);\r\n        attributes.setCanUpload(true);\r\n        attributes.setViewUpload(true);\r\n        attributes.setViewAdditionalDocumentation(true);\r\n        attributes.setStart(false);\r\n        attributes.setSendLastEmail(true);\r\n        attributes.setSelfserviceTimeout(10);\r\n        task.setAttributes(attributes);\r\n        taskCreateItem.setData(task);\r\n        TaskItem response = api.addTask(processId, taskCreateItem);"
          },
          {
            "lang": "Perl",
            "source": "my $process_create_item =  ProcessMaker::PMIO::Object::ProcessCreateItem->new( \"data\" => {\"type\" => \"process\", \"attributes\" => { \"name\" => \"[NAME]\", \"type\" => \"NORMAL\", \"status\" => \"ACTIVE\", \"duration_by\" => \"WORKING_DAYS\", \"design_access\" => \"PUBLIC\" } } );\r\nmy $res = $test_api->add_process(\"process_create_item\" => $process_create_item);\r\nmy $res_hash = $res->to_hash();\r\nmy $pid = $res_hash->{\"data\"}->{\"id\"};\r\nmy $task_create_item = ProcessMaker::PMIO::Object::TaskCreateItem->new(\"data\" => {\"type\" => \"task\", \"attributes\" => {\"name\" => \"[NAME]\"}});\r\n$res = $test_api->add_task(\"process_id\" => $pid, \"task_create_item\" => $task_create_item);"
          }
        ]
      }
    },
    "/processes/{process_id}/tasks/{task_id}": {
      "get": {
        "tags": [
          "client",
          "task"
        ],
        "description": "This method retrieves a task using its ID.",
        "operationId": "findTaskById",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to return",
            "required": true,
            "type": "string"
          },
          {
            "name": "task_id",
            "in": "path",
            "description": "ID of the task to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Task retrieved",
            "schema": {
              "$ref": "#/definitions/TaskItem"
            }
          },
          "404": {
            "description": "Task not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "put": {
        "tags": [
          "client",
          "task"
        ],
        "description": "This method is for updating an existing task.",
        "operationId": "updateTask",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "task_id",
            "in": "path",
            "description": "ID of the task to fetch",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "TaskUpdateItem",
            "description": "Task object to edit",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskUpdateItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON API response with updated Task object",
            "schema": {
              "$ref": "#/definitions/TaskItem"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "client",
          "task"
        ],
        "description": "This method deletes a task using the task ID and the process ID.",
        "operationId": "deleteTask",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "Process ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "task_id",
            "in": "path",
            "description": "ID of a task to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Item successfully deleted",
            "schema": {
              "$ref": "#/definitions/ResultSuccess"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Deletion error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/tasks/{task_id}/connectors": {
      "get": {
        "tags": [
          "client",
          "task"
        ],
        "description": "This method returns all task connectors related to the run process and task.",
        "operationId": "findTaskConnectors",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "task_id",
            "in": "path",
            "description": "ID of the task to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to fetch",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Amount of items per page",
            "required": false,
            "type": "integer",
            "default": 15,
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Task connectors list",
            "schema": {
              "$ref": "#/definitions/TaskConnectorsCollection"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "post": {
        "tags": [
          "client",
          "task"
        ],
        "description": "This method is for creating a new task connector",
        "operationId": "addTaskConnector",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "task_id",
            "in": "path",
            "description": "ID of the task to fetch",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "TaskConnectorCreateItem",
            "description": "JSON API with the TaskConnector object to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskConnectorCreateItem"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created task connector response",
            "schema": {
              "$ref": "#/definitions/TaskConnector_1"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/tasks/{task_id}/connectors/{connector_id}": {
      "get": {
        "tags": [
          "client",
          "task"
        ],
        "description": "This method is for retrieving a task connector based on its ID.",
        "operationId": "findTaskConnectorById",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "task_id",
            "in": "path",
            "description": "ID of the task to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "connector_id",
            "in": "path",
            "description": "ID of TaskConnector to fetch",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Task Connector Item response",
            "schema": {
              "$ref": "#/definitions/TaskConnector_1"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "put": {
        "tags": [
          "client",
          "task"
        ],
        "description": "This method updates the existing task connector with new parameter values.",
        "operationId": "updateTaskConnector",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "task_id",
            "in": "path",
            "description": "ID of the task to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "connector_id",
            "in": "path",
            "description": "ID of the task connector to fetch",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "TaskConnectorUpdateItem",
            "description": "TaskConnector object to edit",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskConnectorUpdateItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON API response with updated TaskConnector object",
            "schema": {
              "$ref": "#/definitions/TaskConnector_1"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "client",
          "task"
        ],
        "description": "This method is for deleting a single task connector based on task ID, the process ID and the Connector ID.",
        "operationId": "deleteTaskConnector",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "ID of the process item to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "task_id",
            "in": "path",
            "description": "ID of the task item to fetch",
            "required": true,
            "type": "string"
          },
          {
            "name": "connector_id",
            "in": "path",
            "description": "ID of TaskConnector to fetch",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Item successfully deleted",
            "schema": {
              "$ref": "#/definitions/ResultSuccess"
            }
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Deletion error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      }
    },
    "/processes/{process_id}/tasks/{task_id}/groups": {
      "post": {
        "tags": [
          "client",
          "task"
        ],
        "description": "This method synchronizes one or more groups with a task.",
        "operationId": "syncGroupsToTask",
        "parameters": [
          {
            "name": "process_id",
            "in": "path",
            "description": "Process ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "task_id",
            "in": "path",
            "description": "ID of the task to modify",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "TaskSyncGroupsItem",
            "description": "JSON API response with group IDs to sync",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskSyncGroupsItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON API response with result details",
            "schema": {
              "$ref": "#/definitions/ResultSuccess"
            }
          },
          "404": {
            "description": "Group(s) not found",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "500": {
            "description": "Error syncing Group(s)",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/errorArray"
            }
          }
        }
      },
      "put": {
        "tags": [
          "client",
          "task"
        ],
[...]
